* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer {
    padding: 50px 150px;
    background-color: white;
    -webkit-box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.87);
    -moz-box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.87);
    box-shadow: -2px 2px 12px 0px rgba(0, 0, 0, 0.87);
}


footer a:hover {
    text-decoration: none;
}

.logo {
    width: 40px;
    height: 40px;
}

.navbar {
    background-color: white;
    padding: 20px 150px !important;
}

.navbar-nav>li {
    margin-left: 30px;
    margin-right: 30px;
}

.nav-item {
    display: flex;
    justify-content: space-between;
}

/* common */

.btn-p {
    padding: 10px !important;
    width: 40%;
    
}
.width-2{
    width: 250px;
}

.btn-c {
    background: rgb(30, 69, 195) !important;
    background: linear-gradient(90deg, rgba(30, 69, 195, 1) 0%, rgba(14, 32, 153, 1) 43%) !important;
    color: white !important;
}

.btn-nc {
    background-color: white;
    outline: black;
    color: black;
}

.main-head {
    font-family: Arial;
    font-weight: bold;
    font-size: 50px;
}

.second-head {
    font-family: Georgia;
    font-size: 50px;
}

.main-content {
    font-family: Arial;
    font-size: 22px;
}
.margin-f
{
    margin-top: 150px;
}

.color {
    color: #C888F9;
}

.color-2 {
    color: #8786A4;
}

.color-3 {
    color: #1E45C3;
}
.color-bl{
    color:black;
}

.color-text {
    font-family: Arial;
    font-size: 26px;
    font-weight: bold;
}

.bg-1 {
    background-color: #8786A4;
}

.bg-2 {
    background: rgb(81, 113, 238);
    background: linear-gradient(90deg, rgba(81, 113, 238, 1) 0%, rgba(33, 171, 224, 1) 30%, rgba(0, 214, 217, 1) 100%);
}
.white{
    color: white;
}

.btn .m-top {
    margin: 100px auto !important;
}

.m-top-o {
    margin-top: 50px;
}
.margin-top-60{
    margin-top: 60px;
}

.m-tb {
    margin-top: 50px;
    margin-bottom: 40px;
}
.mb{
    margin-bottom: 50px;
}

.m-tb-1 {
    margin-top: 80px;
    margin-bottom: 50px;
}

.selected {
    font-family: Arial;
    font-size: 15px;
}

/* home css */

.first-container {
    margin-top: 80px;
}

.how {
    font-family: Georgia;
    font-weight: bold;
    font-size: 26px;
}

.uni-row {
    margin: 30px 200px !important;
    padding-top: 20px;
    padding-bottom: 20px;
}

.uni-col {
    display: flex;
    justify-content: space-evenly;
}

.stand-img {
    width: 100%;
}
.detail-card{
  padding:20px 50px;
  height: 350px;
  /* border: 1px solid black; */
}

.detail-head{
    font-family: Arial;
    color: black;
    font-size: 14px;
    margin: 20px;
}
.details-view{
    display: flex;
    margin: auto;
}
.detail-body
{
    font-size: 20px;
}

/* apply */

.input {
    padding: 10px;
    height: 50px !important;
}
.hr-1
{
    border: none;
    border-bottom: 1px dashed black;
}

.select-inp {
    width: 100%;
    height: 50px;
    border-radius: 10px;
}

.input-text {
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
}

.apply {
    padding: 30px;
    /* margin: 50px; */
    background-color: white !important;
    border-radius: 10px;
}
.contact-map{
    padding: 30px;
}

/* 
faq */

.faq-title-btn {
    background: none;
    outline: none !important;
    border: none;
    width: 100%;
    text-align: left;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

.faq-card-body {
    font-size: 16px;
}

.faq-title-btn {
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

button.btn-link:after {
    content: "\f106";
    font-family: FontAwesome;
    float: right;
    font-size: 26px;
}

button.btn.btn-link.collapsed:after {
    content: "\f107";
    font-family: FontAwesome;
}

/* ABOUT US */

.step-cont {
    padding: 50px;
    margin-top: 70px;
}

.step-img {
    width: 100%;
    padding: 40px;
}

.number-text {
    font-family: Raleway;
    font-weight: bold;
    font-size: 24px;
}

.number {
    font-family: Raleway;
    font-weight: bold;
    font-size: 146px;
}
.row-img-1{
    width: 70%;
    margin: auto;
}

.user {
    margin-left: 200px !important;
    margin-right: 200px !important;
    margin-top:80px;
    margin-bottom: 50px;
}

.img-fluid {
    height: 100% !important;
}

/* 
    admin layout */

/* .navigation-admin{
       display: flex;
       justify-content: space-between;
   }
   .nav-li{
    display: inline-block;
   } */
   .navigation-admin{
    margin-left: 10px;
    font-size: 20px;
}
.nav-li {
    text-decoration: none;
    color: black;
}

.nav-li:hover {
    text-decoration: none;
}

/* admin layout */
.flex-r{
    margin-left: auto;
}
.nav-img{
    width: 30px;
}
/* admin-manage-payment */

.icon-img {
    width: 7%;
    height: 5%;
}

.pay {
    font-size: 30px;
    font-weight: bold;
}

.row-hr {
    margin: 5px;
}

.input-icons i {
    position: absolute;
}

.input-icons {
    width: 100%;
    margin-bottom: 10px;
}

.icon {
    padding: 10px;
    min-width: 40px;
}

.input-field {
    width: 80%;
    padding: 10px;
}

/* LOGIN */

.login-body {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.btn-login {
    width: 200px !important;
    height: 50px !important;
}

.login-card {
    height: 550px;
    border-radius: 10px !important;
}

.register-card {
    height: 700px;
    border-radius: 20px !important;
}

.login-container {
    width: 500px !important;
    border-radius: 20px;
    padding: 30px;
}

.login-head {
    font-family: Montserrat;
    font-weight: bolder;
    font-size: 42px;
}

.login-input {
    border: none;
    border-bottom: 1px solid black;
    font-family: inter;
    font-size: 22px;
    outline: none;
    width: 400px;
}

.forget {
    font-size: 26px;
    display: flex;
    justify-content: flex-end;
    text-decoration: none !important;
    color: black;

}
.input-remember{
    display: flex;
    justify-content: flex-start;

}

.check_1 {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
}

.remember {
    font-size: 26px;  
}
input[type="checkbox"]{
    width: 20px; /*Desired width*/
    height: 20px; /*Desired height*/
    cursor: pointer;

  }


/* user-ongoing */
.row-up{
    border: none;
    border-bottom: 1px solid gray;
}
.border-right
{
    border: none;
    border-right: 1px solid gray;
}

/* 
user-raise */

.raise-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.raise-head {
    font-size: 26px;
}

.raise-container {
    width: 700px !important;
    border-radius: 20px;
}

.raise-input {
    width: 100%;
    padding: 10px;
}

.raise-textarea {
    width: 100%;
    resize: none;
    height: 100px;
    padding: 10px;
}

/* user-profile */

.profile-input {
    border: none;
    border-bottom: 1px solid black;
    width: 100%;
    outline: none;
}

/* media queries */
@media only screen and (max-width: 433px) {
   .uni-row{
     display: flex;
     justify-content: center;
   }
  }